/* Add any custom styles here that are not covered by Bootstrap */

body {
    padding-bottom: 60px; /* Add some padding to the bottom of the body to prevent footer overlap */
}

/* You can add more specific custom styles if needed */
.dataTables_wrapper .row {
    margin-top: 1rem;
    margin-bottom: 1rem;
}
